body{
    background-color: #f2f2f2 ;

}
.sidebar{
    /*background-color:black;*/
}
.login{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    min-height: 100vh;
    background-color: gray;
}
.login_container{
    height: 480px;
    width: 330px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.logo{
    display: flex;
    justify-content: center;
}
.bg{
    padding-top: 2px;

}

/*register*/
.register{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    min-height: 100vh;
    background-color: grey;
}
.register_container{
    height: 550px;
    width: 400px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.reset{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    min-height: 100vh;
    background-color: grey;

}
.reset_container{
    height: 400px;
    width: 300px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*Dashboard*/
/*.main{*/
/*    background-color: grey;*/
/*}*/

.dropbtn {
    background-color: white;
    color: grey;
    /*padding: 2px;*/
    font-size: 15px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    justify-content: flex-end;
    /*margin: auto;*/
}
.dropbtn:focus{
    outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    width: 5%;

    /*height: 10px;*/
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 170px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1

}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    /*background-color: #3e8e41;*/
}
.butn{
    border: none;
    background-color: #f9f9f9;
    outline: none;
}

.butn:focus{

    outline: none;
    /*background-color: black;*/
}

.change_password{
    color: black;
}

.change_password:hover{
    color: black;
    /*background-color: #0c4128;*/
    /*border-radius: 12px;*/
    /*border-style: dashed;*/

}
a:hover{
    /*background-color: black;*/
}

/*changepasswordtempalate*/

.pass_page{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    min-height: 70vh;
    color: white;
    /*background-color: black;*/
}
.pass_page_component{
    background-color: lightgrey;
    padding: 30px;
    border-radius: 13px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

/*sidebar*/

::-webkit-scrollbar{
    width: 1px;
}
::-webkit-scrollbar-thumb{
    background: gray;
}
.sidebar-wrapper{
    /*background-color: black;*/
    overflow: auto;
    /*display: flex;*/
}

/*.dis{*/
/*    background-color: #0c4128;*/
/*    padding: 2px;*/

/*}*/
/*.dis:hover{*/
/*    background-color: #0c4128 ;*/
/*}*/

.name{
    padding-right: 1.5vw;
}
.vl{
    border-left: 1px solid white;
    height: 30px;
    padding-right: 1vw;
}


.my_input{
    border-radius: 3px;
    padding: 5px;
    appearance: none;
    width: 250px;
    border: none;
    background-color: #f2f2f2;
    /*border: 1px solid gray;*/
    outline: none;
}


/*input type file*/

.uploadBox{
    outline: none;
    font-size: 13px;
    background-color: #f2f2f2;
    border-radius: 50px;
    box-shadow: 5px 5px 10px grey;
    width: 270px;
    color: black;
    margin-top: 10px;
}
::-webkit-file-upload-button{
    color: black;
    padding: 6px;
    border: none;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    outline: none;
}

